

ul {
  list-style-type: none;
  margin: auto;
  width: 50%;
  padding: 10px;
  padding-top: 4rem;
}

li {
  padding-bottom: 3rem;
}

.pages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages-button {
  margin: 4rem;
  height: 4rem;
  width: 7rem;
  font-size: 1.5rem;
  color: black;
  background-color: #F55D03;
  outline: none;
  border: none;
  border-radius: 0.5rem;
}

.pages-button:hover {
  background-color: #C24802;
}

.pages-button:active {
  background-color: #752C01;
}

@media only screen and (max-width: 1020px) {
  ul {
    padding-top: 5rem;
    width: 90%;
  }
  }