.content-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 2px solid black;
  align-items: center;
  background-color: #171717;
  color: white;
}

.info {
  width: 100%;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
  
}

.item {
  padding: 2rem;
}

a {
  text-decoration: none;
  color: white;
}


p:hover {
  background-color: #595959;
  border-radius: 3px;
}

a:hover {
  background-color: #595959;
  border-radius: 3px;
}

a:active {
  background-color: #878787;
}

img {
  width: 75%;
  height: auto;
}