.content-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 2px solid black;
  align-items: center;
  background-color: #171717;
  color: white;
}

.info {
  width: 100%;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
  
}

.media {
  max-width: 28rem;
  object-fit: cover;
}

.item {
  padding: 2rem;
}

h2 {
  margin: 1rem;
}

.outsideLink {
  margin: 2rem;
}

.NSFW {
  color: red;
}

.selftext {
  margin: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: #595959;
  border-radius: 3px;
}

a:active {
  background-color: #878787;
}

img {
  width: 75%;
  height: auto;
}

embed {
  max-width: 28rem;
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 10px;
  }

  .item {
    padding: 2rem;
  }
  a:hover {
    background-color: #595959;
    border-radius: 3px;
  }
  a:active {
    background-color: #878787;
  }
}

@media only screen and (max-width: 480px) {
  * {
    font-size: 10px;
  }

  .item {
    padding: 1rem;
  }
  a:active {
    background-color: #878787;
  }
}