header {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: 3px solid gray;
  color: white;
}

.title {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logo {
  height: 2rem;
  width: auto;
  margin-right: .75rem;
}